* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

h1 {
    color: darkblue;
    border-bottom: 3px solid darkblue;
    padding-bottom: 0.5rem;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}

.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: 20rem 1fr;
    align-items: start;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    grid-column: 1/2;
    grid-row: 1/2;
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    background-color: #e7f0fe;
    color: darkblue;
    border: 2px solid darkblue;
}